body{
    /* font-family: 'Montserrat', sans-serif; */
    /* line-height: 1.7; */
    color: var(--color-white);
    /* background: var(--color-backgroundwhite); */
    background: rgba(210, 238, 172, 0.727);
}

nav{
    /* background: red; */
    background: rgba(18, 56, 13, 0.841);
    /* background: rgba(25, 34, 12, 0.727); */
}

.tagline_mob{
    display: none;
}

#contact{
    margin-top: 15rem;
    zoom: 90%;
}

#contact .container{
margin-top: 2rem;
}

.contact{
    height: auto;
}

.contact__container{
    background: linear-gradient(185deg, var(--color-success), var(--color-background3));
    /* background: var(--color-background1); */
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 8rem auto;
    border-radius: 1rem;
}

.contact__aside{
    /* background: var(--color-background3); */
    background: linear-gradient(145deg, var(--color-success), var(--color-background3));
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    bottom: 6rem;
}

.aside__image{
    width: auto;
    margin-bottom: 1rem;
}

.contact__aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.contact__details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: .8rem;
}

.contact__socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
}

.contact__socials a{
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact__socials a:hover{
    background: var(--color-backgroundIcons);
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name{
    display: flex;
    gap: 1.2rem;
}

.contact__form input[type="text"]{
    width: 100%;
}

input, textarea, select{
    width: 100%;
    padding: 1rem;
    background: var(--color-backgroundwhite);
    color: var(--color-black);
}

.contact__form .btn{
    width: max-content;
    margin-top: .1em;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    #contact{
        zoom: 100%;
        margin-top: 9rem;
    }

    .tagline_mob{
        display: block;
        font-family: Brush Script Std, cursive;
    }

    .contact{
        margin-top: 5em;
        height: 95vh;
    }

    .contact__container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact__aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact__form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 600px) {

    .contact{
        /* margin-top: 5em; */
        /* margin-bottom: 10em; */
        height: 130vh;
        position: relative;
    }

    .contact__container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact__form{
        margin: 0 1.5rem 3rem;
    }

    .form__name{
        flex-direction: column;
    }

    .form__name input[type="text"]{
        width: 100%;
    }

}

