.tagline_mob{
    display: none;
}

#appointment{
    margin: 0rem;
}

#appointment .container{
    margin-top: 6rem;
}

.aside__image{
    width: auto;
    margin-bottom: 1rem;
    transition: 500ms ease;
}

.aside__image:hover{
    transform: scale(1.1);
}

.contact__aside h2{
    margin-bottom: .1rem;
}

.contact__aside span{
    font-size: 1rem;
}

.contact__details{
    margin-top: 1rem;
}

.contact__details i{
    color: #079868;
    font-size: 1.5rem;
}

.contact__details li{
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: .1rem;
}


@media screen and (max-width: 720px) {
    #appointment .container{
        grid-template-columns: 1fr;
    }
}



