#faqs{
    margin: 0rem;
}

.heading{
    margin-top: 8rem;
}

#faqs .feedback_form{
    width: 5%;
    margin: auto;
}


@media screen and (max-width: 600px) {
    /* #faqs{
        margin-top: 5rem;
    } */

    #faqs .feedback_form{
        width: 8%;
    }
}
