nav{
    width: 100vw;
    height: 9rem;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;
    @include gradientNavBackground;
    box-shadow: 0 1rem 1rem rgba($black-color, 0.25);
    transition: 900ms ease;

    &.window-scroll{
        background: $white-color;
        border-bottom: .1rem solid $primary-color;
        height: 7rem; 

        .container{

            .nav__logo{
                margin-top: -2rem;

                .tagline{
                    display: block;
                    position: absolute;
                    left: 14.5%;
                    bottom: 2rem;
                    font-size: 1rem;
                    color: $primary-color;
                    font-family: Brush Script Std, cursive;
                    font-weight: 900;
                }
            
                img{
                    width: 16%;
                    position: absolute;
                    margin-left: -90px;
                    // left: 15%;
                    bottom: -3em;
                }

                h3{
                    display: none;
                }
            }

            .sub__menu{
                a{
                    color: $white-color;
                    zoom: 90%;
                }   
            }

            button{
                color: $secondary-color;
            }

            a{
                color: $black-color;
                text-shadow: none;
                font-weight: 600;
                zoom: 90%;

                & > h3{
                    color: $black-color;
                }

                &.btn, &.btn_change{
                    color: $white-color;
                }
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo{

            .tagline{
                display: none;
                transition: 900ms ease;
            }

            .tagline_mobile{
                display: none;
            }
            
            img{
                width: 20%;
                position: absolute;
                margin: auto auto;
                // margin-left: -160px;
                bottom: -3.5em;
                transition: 900ms ease;
            }
        }

        h3{
            display: none;
            // margin-left: 5px;
            // font-size: 1.2rem;
            // transition: 900ms ease;
            // position: absolute;
            // bottom: 2.5rem;
        }

        ul{
            display: flex;
            gap: 2.2rem;
            align-items: center;
            // padding: .1rem .1rem .1rem .1rem;

            li{

                padding: 2px;

                a{
                    // color: red;
                    color: $white-color;
                    font-weight: 200;
                    font-size: 1rem;
                    display: inline-block;
                    //transition: 0.7s ease;
                    text-shadow: black 1px 1px 2px;
                    transition: 200ms ease;
                }

                .sub__menu{
                    display: none;
                    zoom: 90%;
                }

                .uil, .bx{
                    margin-left: 8px;
                }

                .active{
                    border-radius: 3px;
                    border-bottom: 3px solid $secondary-color; 
                    // border-bottom: 5px solid #1abc9c; 
                }

                
                &:hover{

                    // border-bottom: 5px solid #1abc9c;
                    border-bottom: 3px solid $secondary-color;
                    border-radius: 3px;
                    transition: all .2s ease 0s;

                    .sub__menu{
                        display: block;
                        position: absolute;
                        background: $sub-menu-color;
                        margin-top: 6px;
                        margin-left: 15px; 

                        ul{
                            display: inline-block;
                            margin: 2px;
            
                            li{
                                width: auto;
                                padding: 10px;
                                border-bottom: 1px dotted #fff;
                                background: transparent;
                                border-radius: 5px;
                                text-align: left;

                                &:hover{
                                    background: $white-color;
                                    a{
                                        color: $secondary-color;
                                        text-shadow: none;
                                    }
                                }

                                // a{
                                //     font-size: 0.8rem;
                                //     &:hover{ 
                                //         color: $secondary-color;
                                //     }
                                // }
            
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
      
                   
        }

        button{
            display: none;
        }

        // a{
        //     color: $white-color;
        //     font-weight: 500;
        //     font-size: 1rem;
            
        // }

        
    }  
}

@media screen and (max-width: 1024px) {
    nav{
        height: 6rem;

        &.window-scroll{
            height: 8rem;
            
            .container{

                .nav__logo{
                    margin: -2rem;
                    
                    .tagline{
                        display: block;
                        left: 70px;
                        font-size: .9rem;
                        
                    }

                    .tagline_mobile{
                        display: none;
                    }
                
                    img{
                        display: block;
                        position: sticky;
                        width: 25%;
                        margin: auto auto;

                        // width: 20%;
                        // position: absolute;
                        // margin-left: -50px;
                        // bottom: -3rem;
                    }
    
                    h3{
                        display: none;
                    }
                }

                #nav__items{
                    top: 6rem;

                    a{
                        color: $white-color;
                    }
                }

            }
        }

        .container{

            .nav__logo{

                .tagline_mobile{
                    display: block;
                    padding-top: .2rem;
                    color: $white-color;
                    font-family: Brush Script Std, cursive;
                }

                img{
                    display: none;
                }
            }
    
            h3{
                display: block;
                font-size: 1.2rem;
            }
            
            button{
                display: inline-block;
                background-color: transparent;
                color: $white-color;
                font-size: 2rem;
                cursor: pointer;

                &#close__nav-btn{
                    display: none;
                }
            }

            ul{
                position: fixed;
                right: 1%;
                top: 4rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
                display: none;
                perspective: 300px;

                li{
                    padding: 0px;
                    width: 100%;
                    opacity: 0;
                    animation: flipNavItem 300ms ease forwards;
                    transform-origin: top;
                    border-bottom: 1px dotted #fff;

                    &:hover{

                        a{
                            color: $secondary-color;
                            &.btn{
                                background: $white-color;
                                color: $secondary-color;
                            }
                        }

                        .sub__menu{
                            ul{
                                top: 0%;
                                right: 100%;
                                li{
                                    padding: 0px;
                                    a{
                                        border-radius: 2;
                                        padding: .8rem .8rem;
                                        color: $white-color;
                                    }
                                    
                                }
                            }
                        }
                    }
                    
                    &:nth-child(2){
                        animation-delay: 200ms;
                    }
                    &:nth-child(3){
                        animation-delay: 400ms;
                    }
                    &:nth-child(4){
                        animation-delay: 600ms;
                    }
                    &:nth-child(5){
                        animation-delay: 800ms;
                    }
                    &:nth-child(6){
                        animation-delay: 1000ms;
                    }
                    

                    @keyframes flipNavItem {
                        from{
                            transform: rotateX(90deg);
                        }
                        to{
                            transform: rotateX(0deg);
                            opacity: 1;
                        }
                    }

                    a{
                        text-align: center;
                        color: $white-color;
                        height: 100%;
                        display: block;
                        padding: 1rem 1rem;
                        border-radius: 2;
                        background: rgba(0, 0, 0, 0.813);
                        // background: linear-gradient($primary-color-variant, darken($primary-color-variant, 12%));
                        

                        &.btn{
                            background: $secondary-color;
                        }
                          
                    }

                    

                    
                }

            }
        }
    }
}

@media screen and (max-width: 600px) {

    nav{
        
        &.window-scroll{
            height: 8rem;
            
            .container{
    
                .nav__logo{
                    margin: -2rem;
    
                    .tagline{
                        display: none;
                    }
                
                    img{
                        position: sticky;
                        width: 45%;
                        margin: auto auto;
                        
                    }
    
                    h3{
                        display: none;
                    }
                }

                #nav__items{
                    top: 6rem;

                    a{
                        color: $white-color;
                    }

                    // .change-color{
                    //     color: $white-color;
                    // }
                }
                
            }
        }

        
    }
    

}